body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.c-item{
  padding-bottom: .42857143em;
  width: 600px;
  /* border: black solid 1px; */
  border-radius: 12px;
  margin: 5px;
  -webkit-box-shadow: -1px 0px 26px -15px rgba(0,0,0,0.61);
  -moz-box-shadow: -1px 0px 26px -15px rgba(0,0,0,0.61);
  box-shadow: -1px 0px 26px -15px rgba(0,0,0,0.61);
}